{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Add New Product</h4>
            </header>
            <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Add Product</button>
                </div>
            </form>
        </article>
    </div>
</section>
{% endblock %}